{% extends 'core/base.html' %}

{% block title %} About {% endblock %}

{% block content %}
<h1> Welcome to OneYes Pharmacy Your health our priority.<h1>

<p> At OneYes pharmacy, we believe that access to quality healthcare is a right, not a privilege. We've harnessed the power of technology to bring safe, effective, and timely pharmaceutical services right to your doorstep. As a premier online pharmacy, our vision is to transform the way you think about medicine, making it more accessible, affordable, and convenient than ever before.

</p>
<br>
<br>

<p>Our Journey:<br> <br>

    Founded in 2023, by Kavin Rajendran, a passionate Programmer with a vision to revolutionize the pharmaceutical industry, OneYes Pharmacy began as a small endeavor to simplify medicine procurement.<br>  Today, we stand as one of the leading online pharmacies, having served thousands of satisfied customers across the Country.
</p>
{% endblock %}