{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1>The contact page</h1>
    <p> You might have a business that you wish to take to the next level. In the age of the internet, it’s possible! Your business can have a presence online. We at OneYes Infotech Solutions, provide you with a custom-made applications that fulfill your needs.Build your site with us!.</p>
    <p style="color:blue"> email us - <a href="info@oneyesinfotechsolutions.com" >info@oneyesinfotechsolutions.com</a></p>
{% endblock %}