{% extends 'core/base.html' %}
{% block title %} Privacy Policy {% endblock %}

{% block content %}
<p> Please read these Terms of Use ("Terms") carefully before using the OneYes Pharmacy website. By accessing and using this Website, you agree to be bound by these Terms.<br> If you do not agree with these Terms, please do not use our Website.
</P>


<p>
    General Terms:

a. This Website is owned and operated by OneYes InfoTech Solutions , Chennai,Tamil Nadu.

b. We reserve the right to update, modify, or terminate these Terms at any time without prior notice. Any changes will be effective immediately upon posting on our Website.
</p>
{% endblock %}