{% extends 'core/base.html' %}

{% block title %} Terms and conditions {% endblock %}
{% block content %}

<p>
    Please read these Terms of Use  carefully before using the OneYes pharmacy website . <br> By accessing and using this Website, you agree to be bound by these Terms. If you do not agree with these Terms, please do not use our Website.
</P>
<script> alert("this is alerting from terms page") </script>
{% load static %}
<script type="text/javascript" src ="{% static 'js/form.js'%}"></script>
{% endblock %}