{% extends 'core/base.html'%}
{% load static %}
{%block title%}Ratings{%endblock%}

{% block content%}
<div style="margin-bottom: 10px"; >
    <form method="post" style=" border: 5px solid #ccc; background-color : #ffe6e6; padding: 20px; border-radius : 8px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); max-width: 500px;  margin: 0 auto;">
        {% csrf_token %}
        

        {{ form }}
        <input type="submit" value="Submit Rating" style="background-color: green; color: white; border: none; padding: 10px 15px; cursor: pointer;" >
    </form>
    </form>
   <script>

    function validate(){
        var firstname = document.getElementById("firstname")
    }
   </script>

{% endblock %}

